body {
    margin: 0;
    padding: 0;
}

.scroll-container {
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
}

.content {
    display: inline-block; /* Ensures the content stays in a single line */
    white-space: normal; /* Allows normal white space within the content */
    width: auto; /* Allows the content to expand based on its actual size */
    padding: 20px; /* Add padding or adjust as needed */
    /* Your other styles for content go here */
}


.sr-only {
  position: absolute; !important;
  width: 1px; !important;
  height: 1px; !important;
  padding: 0; !important;
  margin: -1px; !important;
  overflow: hidden; !important;
  clip: rect(0, 0, 0, 0); !important;
  border: 0; !important;
}
